* {
    box-sizing: border-box;
}
body {
    margin-top: 10%;
}

.container{
    padding: 10px;
    border: 1px solid black;
    background-color: yellow;
}
.content-align {
    text-align: center;
}
.content-tiles {
    display: flex   ;
}